@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
body{
    margin: 0;
    padding-top: 5%;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.mainTag{
    margin: auto;
    background-color: rgb(206, 240, 229);
    width: 40%;
    box-shadow: 1px 1px 1px 0px #000;
}
.inputSection{
    padding: 30px;
 }
#head-info{
    background-color: green;
    text-align: center;
    color: antiquewhite;
    padding: 2px;
  
}
.conversion_rates{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}
.conversion_rates:hover{
    border: 2px solid blue;
}
.conversion_text{
color: rgb(13, 13, 134);
font-weight: 600;
text-align: center;

}
.input-two{
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.input-two :hover{
    border-color: #000;
}
label{
   margin-left: 20px;
   font-weight: 600;
}
.currencies{
    width: 70px;
   height: 30px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: beige;

}
.button-div a{
    text-decoration: none;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #41304d;
    color: #fff;
    margin-left: 40%;
}